# Python
__pycache__/
*.py[cod]
*.pyo

# Poetry
.poetry/

# Virtual environments
.venv/
venv/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Ruff / Black
.ruff_cache/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
